<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
      <a href="#" class="nav-brand" style="color: white;">Logo</a>
      <button class="navbar-toggle" type="button">
        <span class="navbar-toggle-icon"></span>
      </button>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink=""
                routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/articles/list" routerLinkActive="active">Article</a>
          </li>
        </ul>
        <ul class="navbar-nav" *ngIf="(accountService.user$ | async) === null">
          <li class="nav-item">
            <a class="btn btn-secondary mx-2" routerLink="/account/register" routerLinkActive="active">Register</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-secondary mx-2" routerLink="/account/login" routerLinkActive="active">Login</a>
          </li>
        </ul>

        <div class="d-flex align-items-center" *ngIf="(accountService.user$ | async) as userDto">
          <a class="text-white" style="text-decoration: none; cursor: pointer;">
            Hi <span class="h3 text-warning">{{ userDto.firstName | titlecase}}</span>
          </a>
          <a class="btn btn-secondary" (click)="logout()">Logout</a>
        </div>
      </div>
    </div>
  </nav>
</header>
